.btn-lg{
    border-radius: 0;
    /* display: inline-flex; */
    width: 30%;
    height: 30%;
    border: 1px solid black;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
  