    <div class="head pl-4 pt-3">
        <span *ngIf="gameStart">Current Player:</span> <span *ngIf="success">Player:</span> {{playerTitle}} <span *ngIf="success">wins</span>
    </div>
    <div class="board">
        <app-square   [turn] = "start" (userClicked)="calculate($event,i)" *ngFor="let item of count;let i = index"></app-square>
    </div>


    <div class="pl-4" *ngIf="success">
            GAME ENDS
    </div>

    <div class="pl-4" *ngIf="draw">
        Game Draw
    </div>

    <div class="pl-4 warning" *ngIf="warning">
        WARNING:Illegal Move
    </div>